[Unit]
Description=Automatic Smarty Proxy Rearm
After=network-online.target
Wants=network-online.target

[Timer]
OnBootSec=30s
OnUnitActiveSec=15s
AccuracySec=1s
Unit=smarty-proxy-rearm.service

[Install]
WantedBy=timers.target
